/**
 * Sitemap Styling (inspired by screenshot from @mattbrailsford)
 * Trying to see if it's doable with CSSGrid + Flexbox
 */

* { box-sizing: border-box; }

body {
	background: #f9fafc;
}

.debug * { outline: 1px dashed var(--card-color, #0f0); }

ul { list-style: none; padding: 0; margin: 0; }

@supports (display: grid) and (--css: variables) {
	body {
		--link-color: #35331d;
		--card-color: #4494ce;
		--line-color: #dcdddf;
	
		--gutter-size: 24;

		--gutter:      calc(var(--gutter-size) * 1px);
		--doubleGut:   calc(var(--gutter-size) * 2px);
		--halfGut:     calc(var(--gutter-size) * 0.5px);
		--negativeGut: calc(var(--gutter-size) * -1px);

		--offset: 1;
	}

	body > ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: var(--gutter);
	}
}

ul li {
	position: relative;
	z-index: 2;
}

ul ul li:before {
	content: "";
	display: block;
	width: var(--gutter);
	height: 148%;
	position: absolute;
	transform: translate(calc(var(--gutter) * var(--offset) - var(--halfGut)), -25%);
	border: solid var(--line-color);
	border-width: 0 0 0 1px;
	background: linear-gradient(90deg, var(--line-color) 0, var(--line-color) 100%) left 60% no-repeat;
	background-size: 100% 1px;
	z-index: 0;
}

ul ul li:last-child::before {
	height: var(--doubleGut);
	transform: translate(calc(var(--gutter) * var(--offset) - var(--halfGut)), var(--negativeGut));
	border-radius: 0.1em;
	border-width: 0 0 1px 1px;
	background: none;
}

ul ul li + li {
	margin-top: var(--gutter);
}

li a {
	font-family: Helvetica, Arial, sans-serif;
	display: block;
	border-top: 0.3em solid #d9524b;
	border-color: var(--card-color);
	background: #fff;
	padding: 30px 15px 15px;
	border-radius: 0.3em;
	text-decoration: none;
	color: var(--link-color);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
	position: relative;
	font-weight: bold;
}

li a::before {
	content: attr(href);
	position: absolute;
	transform: translateY(-2em);
	display: block;
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: uppercase;
	font-size: 60%;
	color: var(--card-color);
	font-weight: normal;
}

li ul { padding-top: var(--gutter); }

ul ul li a           { margin-left: calc(var(--gutter) * var(--offset));}

ul ul ul li          { --offset: 2; }
ul ul ul ul li       { --offset: 3; }
ul ul ul ul ul li    { --offset: 4; }
ul ul ul ul ul ul li { --offset: 5; }

li li a              { --card-color: #44c473; }
li li li a           { --card-color: #d7823c; }
li li li li a        { --card-color: #9461b0; }

